<p-toast position="top-right"></p-toast>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<div class="admin-tour p-3">
  <p-card header="Tours" subheader="List all Tours current ">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="newTour()"
        ></button>
      </ng-template>

      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dv.filter(getValue($event), 'contains')"
          placeholder="Global Search"
        />
      </span>
    </p-toolbar>
    <hr />
    <p-dataView
      #dv
      [value]="tours"
      [paginator]="true"
      [rows]="9"
      [totalRecords]="120"
      [rowsPerPageOptions]="[9, 18, 36]"
      filterBy="tittle"
      layout="grid"
    >
      <!-- <ng-template pTemplate="header">
        <div class="d-flex p-flex-column p-flex-md-row p-jc-md-between">
          <span class="p-input-icon-left mb-2 mb-md-0">
            <i class="pi pi-search"></i>
            <input
              type="search"
              pInputText
              placeholder="Search by Name"
              (input)="dv.filter(getValue($event))"
            />
          </span>
        </div>
      </ng-template> -->

      <ng-template let-tours pTemplate="gridItem">
        <div class="col-4 md-4 mt-3" *ngIf="loading">
          <p-card [style]="{ width: '360px' }" styleClass="p-card-shadow">
            <div class="flex justify-content-between">
              <div>
                <p-skeleton width="10rem"></p-skeleton>
              </div>
              <div>
                <p-skeleton width="5rem"></p-skeleton>
              </div>
            </div>

            <ng-template pTemplate="content">
              <p-skeleton
                width="20rem"
                height="7rem"
                styleClass="mt-2"
              ></p-skeleton>
              <p-skeleton
                width="20rem"
                height="1rem"
                styleClass="mt-2"
              ></p-skeleton>
              <p-skeleton
                width="20rem"
                height="1rem"
                styleClass="mt-2"
              ></p-skeleton>
              <p-skeleton
                width="20rem"
                height="1rem"
                styleClass="mt-2"
              ></p-skeleton>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="flex">
                <p-skeleton
                  width="20rem"
                  height="7rem"
                  shape="circle"
                  size="3rem"
                  styleClass="mt-2"
                ></p-skeleton
                ><p-skeleton
                  width="20rem"
                  shape="circle"
                  size="3rem"
                  height="7rem"
                  styleClass="mt-2 ml-2"
                ></p-skeleton>
              </div>
            </ng-template>
          </p-card>
        </div>
        <div class="col-4 md-4 mt-3" *ngIf="!loading">
          <p-card [style]="{ width: '360px' }" styleClass="p-card-shadow">
            <div class="flex justify-content-between">
              <div>
                {{ tours.tittle }}
              </div>
              <div>
                <p-tag
                  [severity]="tourStatus[tours.status]?.color"
                  [value]="tourStatus[tours.status]?.lable"
                ></p-tag>
              </div>
            </div>

            <ng-template pTemplate="content">
              <p [innerHTML]="tours.descriptions"></p>
              <p-rating
                [ngModel]="4"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="pl-9 ml-6">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editTour(tours.id)"
                ></button>

                <button
                  pButton
                  pRipple
                  icon="pi pi-times-circle"
                  class="p-button-rounded p-button-danger"
                  (click)="deleteTour(tours.id)"
                ></button>
              </div>
            </ng-template>
          </p-card>
        </div>
      </ng-template>
    </p-dataView>
  </p-card>
</div>
