<p-toast position="top-right"></p-toast>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<div class="admin-tour p-3">
  <p-card header="Chuyến đi" subheader="Danh sách các chuyến đi ">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dv.filter(getValue($event), 'contains')"
            placeholder="Tìm Kiếm"
          />
        </span>
        <span *ngFor="let item of status">
          <button
            pButton
            pRipple
            type="button"
            [label]="item.lable"
            [value]="item.id"
            (click)="onChangeStatus(item.id)"
            class="p-button-outlined p-button-info p-button-text m-1"
          ></button>
        </span>
      </ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          (click)="newTour()"
        ></button>
      </ng-template>
    </p-toolbar>

    <hr />
    <p-dataView
      #dv
      [value]="tours"
      [paginator]="true"
      [rows]="10"
      [totalRecords]="120"
      [rowsPerPageOptions]="[10, 20, 30]"
      filterBy="tittle"
      layout="grid"
    >
      <ng-template class="grid" pTemplate="gridItem" let-tours>
        <div class="col-6 md-12 mt-4" *ngIf="loading">
          <p-card [style]="{ width: '32rem' }" styleClass="p-card-shadow">
            <div class="flex justify-content-between">
              <div>
                <p-skeleton width="10rem"></p-skeleton>
              </div>
              <div>
                <p-skeleton width="5rem"></p-skeleton>
              </div>
            </div>

            <ng-template pTemplate="content">
              <p-skeleton
                width="30rem"
                height="7rem"
                styleClass="mt-2"
              ></p-skeleton>
              <p-skeleton
                width="30rem"
                height="1rem"
                styleClass="mt-2"
              ></p-skeleton>
              <p-skeleton
                width="30rem"
                height="1rem"
                styleClass="mt-2"
              ></p-skeleton>
              <p-skeleton
                width="30rem"
                height="1rem"
                styleClass="mt-2"
              ></p-skeleton>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="flex pl-9 ml-9">
                <p-skeleton
                  width="20rem"
                  height="7rem"
                  shape="circle"
                  size="3rem"
                  styleClass="mt-2 "
                ></p-skeleton
                ><p-skeleton
                  width="20rem"
                  shape="circle"
                  size="3rem"
                  height="7rem"
                  styleClass="mt-2 ml-2 "
                ></p-skeleton>
              </div>
            </ng-template>
          </p-card>
        </div>
        <div class="col-6 md-12 lg-12 mt-4" *ngIf="!loading">
          <p-card [style]="{ width: '32rem' }" styleClass="p-card-shadow">
            <div class="flex justify-content-between">
              <h2>
                {{ tours.tittle | uppercase }}
              </h2>
              <div>
                <p-tag
                  [severity]="tourStatus[tours.status]?.color"
                  [value]="tourStatus[tours.status]?.lable"
                ></p-tag>
              </div>
            </div>

            <ng-template pTemplate="content">
              <img
                alt="Card"
                class="tour-image"
                src="../../../assets/img/tours/background.jpg"
              />
              <p [innerHTML]="tours.descriptions"></p>
              <p-rating
                [ngModel]="4"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="pl-9 ml-9">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editTour(tours.id)"
                ></button>

                <button
                  pButton
                  pRipple
                  icon="pi pi-times-circle"
                  class="p-button-rounded p-button-danger"
                  (click)="deleteTour(tours.id)"
                ></button>
              </div>
            </ng-template>
          </p-card>
        </div>
      </ng-template>
    </p-dataView>
  </p-card>
</div>
