<div class="admin-page">
  <div class="container">
    <div class="grid">
      <div class="col-6 col-offset-3">
        <p-table
          #dt
          [value]="users"
          [rows]="2"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[2, 4, 6]"
          [paginator]="true"
          [filterDelay]="0"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="age">
                Age<p-sortIcon field="age"></p-sortIcon>
              </th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.code }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.address }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
