<p-toast position="top-right"></p-toast>
<div class="admin-page p-3">
  <p-card
    [header]="editMode ? 'Edit Business Account' : 'New Business Account'"
    [subheader]="editMode ? '' : 'Create A new Business Account'"
  >
    <p-toolbar>
      <div class="p-toolbar-group-left"></div>
      <div class="p-toolbar-group-right">
        <p-button
          label="Save"
          icon="pi pi-check"
          styleClass="p-button-warning mr-2"
          (click)="onSubmit()"
        ></p-button>

        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="onCancle()"
        ></p-button>
      </div>
    </p-toolbar>

    <div class="p-grid" *ngIf="!loading">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="p-field col-4">
              <label for="id">ID</label>
              <input id="id" type="text" pInputText disabled />
            </div>
            <div class="p-field col-4">
              <label for="name">Name</label>
              <input id="name" type="text" pInputText formControlName="name" />
            </div>
            <div class="p-field col-4">
              <label for="phone">Phone</label>
              <p-inputMask
                id="phone"
                placeholder="(+84)98-235-4461"
                mask="(+84)99-999-9999"
                formControlName="phone"
              ></p-inputMask>
              <small
                *ngIf="businessForm.phone.invalid && isSubmit"
                class="p-error"
                >phone is required</small
              >
            </div>
          </div>

          <div class="p-fluid formgrid grid mt-5">
            <div class="p-field col-4">
              <label for="email">Email</label>
              <input
                id="email"
                type="text"
                pInputText
                formControlName="email"
              />
            </div>
            <div class="p-field col-4">
              <label for="address">Address</label>
              <input
                id="address"
                type="text"
                pInputText
                formControlName="address"
              />
            </div>
            <div class="p-field col-4">
              <label for="status">Status</label>
              <p-dropdown
                [(ngModel)]="selectedStatus"
                optionLabel="name"
                optionValue="id"
                [options]="businessStatus"
                formControlName="status"
                (onChange)="selected($event)"
              ></p-dropdown>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="p-grid" *ngIf="loading">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="p-field col-4">
              <label for="id">ID</label>
              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-4">
              <label for="name">Name</label>
              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-4">
              <label for="phone">Phone</label>
              <p-skeleton></p-skeleton>
            </div>
          </div>

          <div class="p-fluid formgrid grid mt-5">
            <div class="p-field col-4">
              <label for="email">Email</label>
              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-4">
              <label for="address">Address</label>
              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-4">
              <label for="status">Status</label>
              <p-skeleton></p-skeleton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
