<p-toast position="top-right"></p-toast>
<div class="admin-page p-3">
  <p-card
    [header]="editMode ? 'Update Tour' : 'New Tour'"
    [subheader]="editMode ? '' : 'Create A new Tour'"
  >
    <p-toolbar>
      <div class="p-toolbar-group-left"></div>
      <div class="p-toolbar-group-right">
        <p-button
          [label]="editMode ? 'Update' : 'Save'"
          icon="pi pi-check"
          [styleClass]="
            editMode ? 'p-button-warning mr-2' : 'p-button-info mr-2'
          "
          (click)="onSubmit()"
        ></p-button>

        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="onCancle()"
        ></p-button>
      </div>
    </p-toolbar>

    <div class="p-grid" *ngIf="!loading">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div [class]="editMode ? 'p-field col-8' : 'p-field col-12'">
              <label for="tittle">Tiêu đề</label>

              <input
                id="tittle"
                formControlName="tittle"
                type="text"
                pInputText
              />
              <small *ngIf="tourForm.tittle.invalid && isSubmit" class="p-error"
                >Tiêu đề không được rỗng</small
              >
            </div>
            <div class="p-field col-4" *ngIf="editMode">
              <label for="status">Status</label>
              <p-dropdown
                optionLabel="name"
                optionValue="id"
                [options]="status"
                placeholder="Select Status"
                formControlName="status"
                [showClear]="true"
              ></p-dropdown>
              <small *ngIf="tourForm.status.invalid && isSubmit" class="p-error"
                >Trạng Thái không được rỗng</small
              >
            </div>

            <div class="p-field col-7 mt-3">
              <label for="status">Mô tả</label>
              <p-editor
                formControlName="descriptions"
                [style]="{ height: '270px' }"
              ></p-editor>

              <small
                *ngIf="tourForm.descriptions.invalid && isSubmit"
                class="p-error"
                >Mô tả không được rỗng</small
              >
            </div>
            <div class="p-field col-5 mt-3">
              <label for="status">Hình ảnh</label>
              <input
                accept="image/*"
                (change)="onFileChanged($event)"
                type="file"
                class="input-file"
                id="actual-btn"
                hidden
              />
              <label class="uploadFile" for="actual-btn">Chọn 1 file...</label>

              <img style="width: 100%; height: 290px" [src]="previewImage" />
            </div>
          </div>
        </form>
      </div>
      <div class="p-fluid formgrid grid mt-4">
        <div class="col-12">
          <div class="col-12">
            <h2>Thêm chặn đi cho tour</h2>
          </div>
          <div class="col-12 mt-4">
            <div class="grid">
              <div class="col-12">
                <p-multiSelect
                  [options]="destiations!"
                  [(ngModel)]="selectedDes"
                  defaultLabel="Chọn chặn đi"
                  optionLabel="name"
                  (onChange)="onChange()"
                ></p-multiSelect>
              </div>
              <!-- <div class="col-1"> -->
              <!-- <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check"
                  class="p-button-rounded"
                ></button> -->
              <!-- <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check"
                  class="p-button-rounded p-button-outlined"
                ></button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid" *ngIf="loading">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="p-field col-4" [class]="editMode ? 'hidden' : ''">
              <label for="id">ID</label>
              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-8">
              <label for="name">Tittle</label>

              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-4" *ngIf="editMode">
              <label for="status">Status</label>
              <p-skeleton></p-skeleton>
            </div>
            <div class="p-field col-12">
              <label for="status">Descriptions</label>
              <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton height="20rem" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
