<div
  class="card box shadow-1 mt-4"
  *ngFor="let vehicle of bussinessVehicleChild"
>
  <div class="grid" *ngIf="!loading">
    <div class="col-9">
      <div class="grid">
        <div class="col-4">
          <img
            src="./../../../assets/img/brand/logo-yacht.png"
            [style]="{ width: '100%', height: '150px' }"
            [alt]="vehicle.name"
          />
        </div>
        <div class="col-8">
          <div class="grid pt-2">
            <div class="col-12">
              <h3>{{ vehicle.name | uppercase }}</h3>
              <div class="heading4">
                Loại tàu:
                <span>{{ vehicle.idVehicleTypeNavigation.name }}</span>
              </div>
              <div class="heading4">
                Số ghế: <span>{{ vehicle.seat }}</span>
              </div>
              <div class="heading4">
                Mô tả: <span>{{ vehicle.descriptions }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="flex">
        <div class="absolute right-5 top-0">
          <p-tag
            [severity]="vehicleStatus[vehicle.status].color"
            [value]="vehicleStatus[vehicle.status].lable"
          ></p-tag>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="loading">
    <div class="col-9">
      <div class="grid">
        <div class="col-4">
          <p-skeleton width="100%" height="150px"></p-skeleton>
        </div>
        <div class="col-8">
          <div class="grid pt-2">
            <div class="col-12">
              <p-skeleton width="30%" height="1rem"></p-skeleton>
              <div class="heading4">
                <p-skeleton
                  width="30%"
                  height="1rem"
                  styleClass="mt-4"
                ></p-skeleton>
              </div>
              <div class="heading4">
                <p-skeleton
                  width="30%"
                  height="1rem"
                  styleClass="mt-1"
                ></p-skeleton>
              </div>
              <div class="heading4">
                <p-skeleton
                  width="30%"
                  height="1rem"
                  styleClass="mt-1"
                ></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="flex">
        <div class="absolute right-5 top-0">
          <p-skeleton width="20%" height="1rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</div>
<p-paginator
  [rows]="5"
  [totalRecords]="120"
  [rowsPerPageOptions]="[5, 10, 30]"
  (onPageChange)="paginate($event)"
></p-paginator>
