.nav-menu {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 3rem;
  background-color: white;
  &--content {
    .profile {
      margin-top: 1rem;
      justify-content: space-around;
    }
  }
}
