<nav
  class="navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid">
    <a
      class="navbar-brand pt-0"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
    >
      <img
        src="./assets/img/brand/logo-yacht.png"
        class="navbar-brand-img"
        width="100%"
        alt="..."
      />
    </a>
    <!-- Collapse -->
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a
            routerLinkActive="active"
            [routerLink]="[menuItem.path]"
            class="nav-link"
          >
            <i class="ni {{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a>
        </li>

        <ul class="navbar-nav pl-4 setting-nav">
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" (click)="onChange()">
              <i class="ni ni-ui-04"></i> Phân loại
              <i
                [class]="
                  colapse
                    ? 'ni ni-bold-right ml-2 mb-1'
                    : 'ni ni-bold-down ml-2 mb-1'
                "
              ></i
            ></a>
            <ul class="navbar-nav pl-6" [ngClass]="colapse ? 'hidden' : 'show'">
              <li class="nav-item">
                <a
                  routerLinkActive="active"
                  class="nav-link"
                  routerLink="/apartments"
                  ><i class="ni ni-planet text-blue"></i> Loại địa điểm</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLinkActive="active"
                  class="nav-link"
                  routerLink="/vehicle-type"
                  ><i class="ni ni-delivery-fast text-orange"></i> Loại tàu</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLinkActive="active"
                  class="nav-link"
                  routerLink="/ticket-type"
                  ><i class="ni ni-paper-diploma text-info"></i> Loại vé</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLinkActive="active"
                  class="nav-link"
                  routerLink="/ticket"
                  ><i class="ni ni-badge text-orange"></i> Danh sách vé</a
                >
              </li>
              <li class="nav-item">
                <a
                  routerLinkActive="active"
                  class="nav-link"
                  routerLink="/order"
                  ><i class="ni ni-money-coins text-orange"></i> Doanh thu</a
                >
              </li>
            </ul>
          </li>
        </ul>

        <li class="nav-item">
          <a class="nav-link" routerLink="login" (click)="logout()">
            <i class="ni ni-bold-left text-red"></i>
            Đăng xuất
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
