<nav
  class="navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid">
    <a
      class="navbar-brand pt-0"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
    >
      <img
        src="./assets/img/brand/logo-yacht.png"
        class="navbar-brand-img"
        alt="..."
      />
    </a>
    <!-- Collapse -->
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a
            routerLinkActive="active"
            [routerLink]="[menuItem.path]"
            class="nav-link"
          >
            <i class="ni {{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" (click)="logout()">
            <i class="ni ni-bold-left text-red"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
