<div class="admin-doashboard">
  <div class="grid mt-2 ml-1">
    <div class="col">
      <div
        class="card box card-color shadow-1 h-8rem p-4"
        (click)="activeCard(1)"
        [ngClass]="{ 'card-color': selectedIndex === 1 }"
      >
        <div class="flex">
          <h2>Tổng đơn hàng</h2>
          <div class="absolute left-5 bottom-4">
            <span [style]="{ 'font-size': '25px', 'font-weight': 'bold' }"
              >1024</span
            >
          </div>
          <div
            class="absolute right-4 bottom-4"
            [style]="{ 'font-size': '30px' }"
          >
            <i class="fas fa-shopping-cart text-blue"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card box shadow-1 h-8rem p-4"
        (click)="activeCard(2)"
        [ngClass]="{ 'card-color': selectedIndex === 2 }"
      >
        <div class="flex">
          <h2>Đối tác</h2>
          <div class="absolute left-5 bottom-4">
            <span [style]="{ 'font-size': '25px', 'font-weight': 'bold' }"
              >1024</span
            >
          </div>
          <div
            class="absolute right-4 bottom-4"
            [style]="{ 'font-size': '30px' }"
          >
            <i class="fas fa-hands-helping text-orange"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card box shadow-1 h-8rem p-4"
        (click)="activeCard(3)"
        [ngClass]="{ 'card-color': selectedIndex === 3 }"
      >
        <div class="flex">
          <h2>Tổng tàu hoạt động</h2>
          <div class="absolute left-5 bottom-4">
            <span [style]="{ 'font-size': '25px', 'font-weight': 'bold' }"
              >1024</span
            >
          </div>
          <div
            class="absolute right-4 bottom-4"
            [style]="{ 'font-size': '30px' }"
          >
            <i class="fas fa-ship text-blue"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card box shadow-1 h-8rem p-4"
        (click)="activeCard(4)"
        [ngClass]="{ 'card-color': selectedIndex === 4 }"
      >
        <div class="flex">
          <h2>Tổng số vé bán ra</h2>
          <div class="absolute left-5 bottom-4">
            <span [style]="{ 'font-size': '25px', 'font-weight': 'bold' }"
              >1024</span
            >
          </div>
          <div
            class="absolute right-4 bottom-4"
            [style]="{ 'font-size': '30px' }"
          >
            <i class="fas fa-ticket-alt text-orange"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid ml-1 mt-1">
    <div class="col-8">
      <div class="card p-3">
        <h1>Đại lý đặt gần đây</h1>
        <p-table
          #dt
          [value]="order"
          [rows]="10"
          [showCurrentPageReport]="true"
          [paginator]="true"
          [filterDelay]="0"
          [globalFilterFields]="['agencyName', 'status']"
          styleClass="p-datatable"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="hidden">ID</th>
              <th pSortableColumn="agencyName">
                Tên đại lý <p-sortIcon field="agencyName"></p-sortIcon>
              </th>
              <!-- <th pSortableColumn="dateOrder">
                Ngày đặt <p-sortIcon field="dateOrder"></p-sortIcon>
              </th> -->
              <th>Số người</th>
              <th>Trạng thái</th>
              <th pSortableColumn="totalPrice">
                Tổng tiền<p-sortIcon field="totalPrice"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-order>
            <tr *ngIf="loading">
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
            </tr>
            <tr *ngIf="!loading">
              <td class="hidden">{{ order.id }}</td>
              <td>{{ order.agencyName }}</td>
              <td>{{ order.quantityOfPerson }}</td>
              <td class="p-ai-center p-pl-2">
                <p-tag
                  [value]="orderStatus[order.status]?.lable"
                  [severity]="orderStatus[order.status]?.color"
                ></p-tag>
              </td>
              <td>{{ order.totalPrice | currency: 'VND' }}</td>
              <td>
                <a [routerLink]="['/ticket/', order.id]">
                  <i class="ni ni-tag"></i
                ></a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="card pt-3 pl-3">
        <h1>Khách hàng nổi bật</h1>
        <p-table
          #dt
          [value]="customter"
          [showCurrentPageReport]="true"
          [filterDelay]="0"
          [globalFilterFields]="['agencyName', 'status']"
          styleClass="p-datatable"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="hidden">ID</th>
              <th pSortableColumn="agencyName">
                Khách hàng <p-sortIcon field="agencyName"></p-sortIcon>
              </th>
              <th pSortableColumn="dateOrder">
                Ngày đặt <p-sortIcon field="dateOrder"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-customter>
            <tr *ngIf="loading">
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
            </tr>
            <tr *ngIf="!loading">
              <td class="hidden">{{ customter.id }}</td>
              <td>{{ customter.idAgencyNavigation.name }}</td>

              <td>{{ customter.dateOrder | date }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
