<p-toast position="top-right"></p-toast>
<div class="admin-page p-3">
  <p-card header="Thông tin vé" class="p-shadow-14">
    <p-toolbar>
      <div class="p-toolbar-group-left">Xát nhận thông tin loại vé</div>
      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="onCancle()"
        ></p-button>
      </div>
    </p-toolbar>

    <div class="p-grid" *ngIf="!loading">
      <div class="col-12 mt-4">
        <form>
          <div class="p-fluid formgrid grid">
            <div class="col-7">
              <div class="grid">
                <div class="p-field col-6 mb-3">
                  <label for="name">Đại lý bán vé</label>
                  <p>{{ tickets.idOrderNavigation.agencyName }}</p>
                </div>
                <div class="p-field col-6 mb-3">
                  <label for="price">Số người</label>

                  <p>{{ tickets.idOrderNavigation.quantityOfPerson }}</p>
                  <!-- <small *ngIf="tourForm.tittle.invalid && isSubmit" class="p-error"
                  >Tittle is required</small
                > -->
                </div>
                <div class="p-field col-6">
                  <label for="dateOrder">Ngày đặt</label>

                  <p>
                    {{
                      tickets.idOrderNavigation.dateOrder | date: 'dd/MM/YYYY'
                    }}
                  </p>
                  <!-- <small *ngIf="tourForm.tittle.invalid && isSubmit" class="p-error"
                  >Tittle is required</small
                > -->
                </div>
                <div class="p-field col-6">
                  <label for="status">Khách hàng</label>
                  <p>{{ tickets.nameCustomer }}</p>
                  <!-- <small *ngIf="tourForm.status.invalid && isSubmit" class="p-error"
                  >Status is required</small
                > -->
                </div>
                <div class="p-field col-6"></div>
                <div class="p-field col-6 mt-3">
                  <label for="status">Tổng tiền</label>
                  <p>
                    {{ tickets.idOrderNavigation.totalPrice | currency: 'VND' }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-5 p-shadow-14">
              <p-card subheader="Thông tin vé tàu">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Provident repellendus laborum impedit quis cupiditate aliquam
                  corporis temporibus rerum praesentium tempora perspiciatis
                  culpa blanditiis quo nesciunt ratione laboriosam quidem, eius
                  dignissimos.
                </p>
              </p-card>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="p-grid" *ngIf="loading">
      <div class="col-12 mt-4">
        <form>
          <div class="p-fluid formgrid grid">
            <div class="col-7">
              <div class="grid">
                <div class="p-field col-6 mb-3">
                  <label for="name">Đại lý bán vé</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6 mb-3">
                  <label for="price">Số người</label>

                  <p-skeleton></p-skeleton>
                  <!-- <small *ngIf="tourForm.tittle.invalid && isSubmit" class="p-error"
                  >Tittle is required</small
                > -->
                </div>
                <div class="p-field col-6">
                  <label for="serviceFeePercentage">Ngày đặt</label>

                  <p-skeleton></p-skeleton>
                  <!-- <small *ngIf="tourForm.tittle.invalid && isSubmit" class="p-error"
                  >Tittle is required</small
                > -->
                </div>
                <div class="p-field col-6">
                  <label for="status">Khách hàng</label>
                  <p-skeleton></p-skeleton>
                  <!-- <small *ngIf="tourForm.status.invalid && isSubmit" class="p-error"
                  >Status is required</small
                > -->
                </div>
                <div class="p-field col-6"></div>
                <div class="p-field col-6 mt-3">
                  <label for="status">Tổng tiền</label>
                  <p-skeleton></p-skeleton>
                </div>
              </div>
            </div>
            <div class="col-5 p-shadow-14">
              <p-card subheader="Thông tin vé tàu">
                <p-skeleton width="24rem" height="10rem"></p-skeleton>
              </p-card>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
