<p-toast position="top-right"></p-toast>
<div class="admin-page p-3">
  <p-card header="Thông tin chi tiết vé tàu" class="p-shadow-14">
    <p-toolbar>
      <div class="p-toolbar-group-left"></div>
      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="onCancle()"
        ></p-button>
      </div>
    </p-toolbar>

    <div class="p-grid" *ngIf="!loading">
      <div class="col-12 mt-4">
        <form>
          <div class="p-fluid formgrid grid">
            <div class="col-6 p-shadow-14">
              <p-card subheader="Thông tin vé tàu">
                <div class="grid">
                  <div class="col-6">
                    <div class="col-12">Tên khách hàng:</div>
                    <div class="col-12">Số điện thoại:</div>
                    <div class="col-12">Loại vé:</div>
                    <div class="col-12">Giá vé:</div>
                  </div>
                  <div class="col-6">
                    <div class="col-12">Loại tàu:</div>
                    <div class="col-12">Tên tàu:</div>
                    <div class="col-12">Số ghế:</div>
                    <div class="col-12">Thời gian khởi hành:</div>
                  </div>
                </div>
              </p-card>
            </div>
            <div class="col-6">
              <div class="grid">
                <div class="p-field col-6 mb-3">
                  <label for="name">Đại lý bán vé</label>
                  <p>{{ tickets.idOrderNavigation.agencyName }}</p>
                </div>
                <div class="p-field col-6 mb-3">
                  <label for="price">Số người</label>
                  <p>{{ tickets.idOrderNavigation.quantityOfPerson }}</p>
                </div>
                <div class="p-field col-6">
                  <label for="dateOrder">Ngày đặt</label>
                  <p>
                    {{
                      tickets.idOrderNavigation.dateOrder | date: 'dd/MM/YYYY'
                    }}
                  </p>
                </div>
                <div class="p-field col-6">
                  <label for="status">Khách hàng</label>
                  <p>{{ tickets.nameCustomer }}</p>
                </div>
                <div class="p-field col-6"></div>
                <div class="p-field col-6 mt-3">
                  <label for="status">Tổng tiền</label>
                  <p>
                    {{ tickets.idOrderNavigation.totalPrice | currency: 'VND' }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="p-grid" *ngIf="loading">
      <div class="col-12 mt-4">
        <form>
          <div class="p-fluid formgrid grid">
            <div class="col-6 p-shadow-14">
              <p-card subheader="Thông tin vé tàu">
                <p-skeleton width="28rem" height="10rem"></p-skeleton>
              </p-card>
            </div>
            <div class="col-6">
              <div class="grid">
                <div class="p-field col-6 mb-3">
                  <label for="name">Đại lý bán vé</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6 mb-3">
                  <label for="price">Số người</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6">
                  <label for="serviceFeePercentage">Ngày đặt</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6">
                  <label for="status">Khách hàng</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6"></div>
                <div class="p-field col-6 mt-3">
                  <label for="status">Tổng tiền</label>
                  <p-skeleton></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
