<p-toast position="top-right"></p-toast>
<div class="admin-page p-3">
  <p-card header="Xát nhận yêu cầu thông tin loại vé" class="p-shadow-14">
    <p-toolbar>
      <div class="p-toolbar-group-left">Xát nhận thông tin</div>
      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (click)="onCancle()"
        ></p-button>
      </div>
    </p-toolbar>

    <div class="p-grid" *ngIf="!loading">
      <div class="col-12 mt-4">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="col-6">
              <p-card subheader="Thông tin chủ tàu">
                <div class="grid">
                  <div class="col-7">
                    <div class="col-12">
                      Chủ tàu:
                      <p>{{ business?.name }}</p>
                    </div>

                    <div class="col-12">
                      Số điện thoại:
                      <p>{{ business?.phoneNumber }}</p>
                    </div>
                    <div class="col-12">
                      Email:
                      <p>{{ business?.emailAddress }}</p>
                    </div>
                    <div class="col-12">
                      Địa chỉ:
                      <p>{{ business?.address }}</p>
                    </div>
                  </div>

                  <div class="col-5">
                    <div class="col-12">
                      Tên Tour:
                      <p>{{ tour?.tittle }}</p>
                    </div>
                    <div class="col-12">
                      Trạng thái:
                      <p-tag
                        [severity]="tourStatus[tour.status!]?.color"
                        [value]="tourStatus[tour.status!]?.lable"
                      ></p-tag>
                    </div>
                  </div>
                </div>
              </p-card>
            </div>
            <div class="col-6">
              <div class="grid">
                <div class="p-field col-6 mb-3">
                  <label for="name">Hạng vé</label>
                  <p>{{ tickesType?.name }}</p>
                </div>
                <div class="p-field col-6 mb-3">
                  <label for="price">Giá vé</label>
                  <p>{{ tickesType?.price | currency: 'VND' }}</p>
                </div>
                <div class="p-field col-6">
                  <label for="serviceFeePercentage">Phí dịch vụ(%)</label>
                  <P>{{ tickesType?.serviceFeePercentage }}%</P>
                </div>
                <div class="p-field col-6">
                  <label for="serviceFeePercentage">Hoa hồng đại lý(%)</label>
                  <p>{{ tickesType?.commissionFeePercentage }}%</p>
                </div>
                <div class="col-6"></div>
                <div class="p-field col-6">
                  <label for="status">Trạng thái</label>
                  <p-dropdown
                    optionLabel="name"
                    optionValue="id"
                    [options]="status"
                    placeholder="Select Status"
                    formControlName="status"
                    [showClear]="true"
                  ></p-dropdown>
                  <small
                    *ngIf="ticketTypeForm.status.invalid && isSubmit"
                    class="p-error"
                    >Trạng không được trống</small
                  >
                </div>
                <div class="col-6"></div>
                <div class="p-field col-6 mt-5">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-check"
                    label="Confirm"
                    (click)="onSubmit()"
                    class="p-button-raised p-button-help p-button-text"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="p-grid" *ngIf="loading">
      <div class="col-12 mt-4">
        <form>
          <div class="p-fluid formgrid grid">
            <div class="col-6">
              <p-card>
                <p-skeleton width="100%" height="20rem"></p-skeleton>
              </p-card>
            </div>
            <div class="col-6">
              <div class="grid">
                <div class="p-field col-6 mb-3">
                  <label for="name">Hạng vé</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6 mb-3">
                  <label for="price">Giá vé</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6">
                  <label for="serviceFeePercentage">Phí dịch vụ(%)</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6">
                  <label for="serviceFeePercentage">Hoa hồng đại lý(%)</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="col-6"></div>
                <div class="p-field col-6">
                  <label for="status">Trạng thái</label>
                  <p-skeleton></p-skeleton>
                </div>
                <div class="p-field col-6"></div>
                <div class="p-field col-6 mt-5">
                  <p-skeleton></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
